kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ .Release.Name }}-api-gateway-upstreams-conf
data:
  api-gateway.conf: |-
    upstream api_upstream {
        server {{ .Release.Name }}-devicehive-frontend:8080;
    }
    upstream auth_upstream {
        server {{ .Release.Name }}-devicehive-auth:8090;
    }
{{- if .Values.javaServer.plugin.enabled }}
    upstream plugin_upstream {
        server {{ .Release.Name }}-devicehive-plugin:8110;
    }
{{- end }}
{{- if .Values.wsProxy.external.enabled }}
    upstream wsproxyext {
        server {{ .Release.Name }}-devicehive-ws-proxy-external:3000;
    }
{{- end }}
