version: "3"
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: devicehive/devicehive-kafka
    ports:
      - "9092:9092"
    links:
      - "zookeeper"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      DH_ZK_ADDRESS: zookeeper
      DH_ZK_PORT: 2181
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  postgres:
    image: postgres:9.4
    ports:
      - "5432:5432"
    volumes:
      - devicehive-db:/var/lib/postgresql/data

  dh_admin:
    image: devicehive/admin-console:${DH_ADMIN_TAG:-latest}
    ports:
      - "80:8080"
    links:
      - "dh_frontend"
    environment:
      DH_HOST: dh_frontend
      DH_PORT: 8080

  dh_frontend:
    image: devicehive/devicehive-frontend-rdbms:${DH_TAG:-latest}
    ports:
      - "8080:8080"
    links:
      - "postgres"
      - "kafka"
      - "zookeeper"
      - "dh_backend"
    environment:
      DH_ZK_ADDRESS: zookeeper
      DH_ZK_PORT: 2181
      DH_KAFKA_ADDRESS: kafka
      DH_KAFKA_PORT: 9092
      DH_POSTGRES_ADDRESS: postgres
      DH_POSTGRES_PORT: 5432
      DH_POSTGRES_USERNAME: "postgres"
      DH_POSTGRES_PASSWORD: "mysecretpassword"
      DH_POSTGRES_DB: "postgres"
      DH_BACKEND_ADDRESS: dh_backend
      DH_BACKEND_HAZELCAST_PORT: 5701
      JWT_SECRET: ${JWT_SECRET}

  dh_backend:
    image: devicehive/devicehive-backend-rdbms:${DH_TAG:-latest}
    ports:
      - "5701"
    links:
      - "postgres"
      - "kafka"
      - "zookeeper"
    environment:
      DH_ZK_ADDRESS: zookeeper
      DH_ZK_PORT: 2181
      DH_KAFKA_ADDRESS: kafka
      DH_KAFKA_PORT: 9092
      DH_POSTGRES_ADDRESS: postgres
      DH_POSTGRES_PORT: 5432
      DH_POSTGRES_USERNAME: "postgres"
      DH_POSTGRES_PASSWORD: "mysecretpassword"
      DH_POSTGRES_DB: "postgres"

volumes:
  devicehive-db:
