version: "3"
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
    restart: unless-stopped
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181

  kafka:
    image: wurstmeister/kafka:1.0.0
    ports:
      - "9092:9092"
    links:
      - "zookeeper"
    restart: unless-stopped
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

  postgres:
    image: postgres:10
    ports:
      - "5432:5432"
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DH_POSTGRES_USERNAME:-postgres}
      POSTGRES_PASSWORD: ${DH_POSTGRES_PASSWORD:-mysecretpassword}
      POSTGRES_DB: ${DH_POSTGRES_DB:-postgres}
    volumes:
      - devicehive-db:/var/lib/postgresql/data

  kafkaproxy:
    image: devicehive/devicehive-ws-kafka-proxy:${DH_WS_KAFKA_PROXY_TAG:-latest}
    links:
      - "kafka"
    restart: unless-stopped
    environment:
      KAFKA_MBR: ${DH_KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}
      WSS_PORT: 3000

  dh_frontend:
    image: devicehive/devicehive-frontend-rdbms:${DH_TAG:-development}
    links:
      - "postgres"
      - "kafka"
      - "zookeeper"
      - "dh_backend"
      - "dh_auth"
      - "kafkaproxy"
    restart: unless-stopped
    environment:
      DH_ZK_ADDRESS: ${DH_ZK_ADDRESS:-zookeeper}
      DH_ZK_PORT: ${DH_ZK_PORT:-2181}
      DH_KAFKA_BOOTSTRAP_SERVERS: ${DH_KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}
      DH_POSTGRES_ADDRESS: ${DH_POSTGRES_ADDRESS:-postgres}
      DH_POSTGRES_PORT: ${DH_POSTGRES_PORT:-5432}
      DH_POSTGRES_USERNAME: ${DH_POSTGRES_USERNAME:-postgres}
      DH_POSTGRES_PASSWORD: ${DH_POSTGRES_PASSWORD:-mysecretpassword}
      DH_POSTGRES_DB: ${DH_POSTGRES_DB:-postgres}
      DH_RPC_CLIENT_RES_CONS_THREADS: ${DH_RPC_CLIENT_RES_CONS_THREADS:-3}
      DH_LOG_LEVEL: ${DH_LOG_LEVEL:-INFO}
      DH_WS_KAFKA_PROXY: kafkaproxy:3000
      ROOT_LOG_LEVEL: ${ROOT_LOG_LEVEL:-WARN}
      DH_AUTH_URL: ${DH_AUTH_URL:-http://dh_auth:8090/auth/rest}
      HC_MEMBERS: hazelcast
      HC_GROUP_NAME: ${HC_GROUP_NAME:-dev}
      HC_GROUP_PASSWORD: ${HC_GROUP_PASSWORD:-dev-pass}
      JWT_SECRET: ${JWT_SECRET}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-rpc-client}

  dh_auth:
      image: devicehive/devicehive-auth-rdbms:${DH_TAG:-development}
      links:
        - "postgres"
        - "hazelcast"
      restart: unless-stopped
      environment:
        DH_POSTGRES_ADDRESS: ${DH_POSTGRES_ADDRESS:-postgres}
        DH_POSTGRES_PORT: ${DH_POSTGRES_PORT:-5432}
        DH_POSTGRES_USERNAME: ${DH_POSTGRES_USERNAME:-postgres}
        DH_POSTGRES_PASSWORD: ${DH_POSTGRES_PASSWORD:-mysecretpassword}
        DH_POSTGRES_DB: ${DH_POSTGRES_DB:-postgres}
        DH_LOG_LEVEL: ${DH_LOG_LEVEL:-INFO}
        ROOT_LOG_LEVEL: ${ROOT_LOG_LEVEL:-WARN}
        HC_MEMBERS: hazelcast
        HC_GROUP_NAME: ${HC_GROUP_NAME:-dev}
        HC_GROUP_PASSWORD: ${HC_GROUP_PASSWORD:-dev-pass}
        JWT_SECRET: ${JWT_SECRET}

  hazelcast:
    image: devicehive/devicehive-hazelcast:${DH_TAG:-development}
    ports:
      - "5701:5701"
    restart: unless-stopped
    environment:
      MAX_HEAP_SIZE: "512m"
      MIN_HEAP_SIZE: "512m"

  dh_backend:
    image: devicehive/devicehive-backend-rdbms:${DH_TAG:-development}
    links:
      - "hazelcast"
      - "kafka"
      - "postgres"
      - "zookeeper"
      - "kafkaproxy"
    restart: unless-stopped
    environment:
      DH_ZK_ADDRESS: ${DH_ZK_ADDRESS:-zookeeper}
      DH_ZK_PORT: ${DH_ZK_PORT:-2181}
      DH_KAFKA_BOOTSTRAP_SERVERS: ${DH_KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}
      DH_POSTGRES_ADDRESS: ${DH_POSTGRES_ADDRESS:-postgres}
      DH_POSTGRES_PORT: ${DH_POSTGRES_PORT:-5432}
      DH_POSTGRES_USERNAME: ${DH_POSTGRES_USERNAME:-postgres}
      DH_POSTGRES_PASSWORD: ${DH_POSTGRES_PASSWORD:-mysecretpassword}
      DH_POSTGRES_DB: ${DH_POSTGRES_DB:-postgres}
      DH_RPC_SERVER_REQ_CONS_THREADS: ${DH_RPC_SERVER_REQ_CONS_THREADS:-3}
      DH_RPC_SERVER_WORKER_THREADS: ${DH_RPC_SERVER_WORKER_THREADS:-3}
      DH_LOG_LEVEL: ${DH_LOG_LEVEL:-INFO}
      DH_WS_KAFKA_PROXY: kafkaproxy:3000
      ROOT_LOG_LEVEL: ${ROOT_LOG_LEVEL:-INFO}
      HC_MEMBERS: hazelcast
      HC_GROUP_NAME: ${HC_GROUP_NAME:-dev}
      HC_GROUP_PASSWORD: ${HC_GROUP_PASSWORD:-dev-pass}
      SPRING_PROFILES_ACTIVE: ${SPRING_PROFILES_ACTIVE:-rpc-server}

  dh_proxy:
    image: devicehive/devicehive-proxy:${DH_PROXY_TAG:-development}
    links:
      - "dh_auth"
      - "dh_frontend"
    ports:
      - "80:8080"
      - "443:8443"
    restart: unless-stopped
    volumes:
      - dh-proxy-ssl:/etc/ssl

volumes:
  devicehive-db:
  dh-proxy-ssl:
